In [13]:
#Here we will import the two libraries needed. Statsbomb to access the open data and pandas for data analysis.
from statsbombpy import sb
import pandas as pd

euro = sb.matches(competition_id = 55, season_id=43)

credentials were not supplied. open data access only

In [14]:
filt = (euro['home_team'] == 'Italy') | (euro['away_team'] == 'Italy')

ITAgames = euro[filt]

final_match_id = euro.at[4, 'match_id']

final_events = sb.events(match_id=final_match_id, split=True, flatten_attrs=False)

credentials were not supplied. open data access only

In [15]:
final_events['passes']

final_events['passes'].keys()

all_passes = final_events['passes'][['period','location','player','pass']].copy()
all_passes

,period,location,player,pass
0,1,"[60.0, 40.0]",Ciro Immobile,"{'recipient': {'id': 3166, 'name': 'Marco Verr..."
1,1,"[48.0, 35.7]",Marco Verratti,"{'recipient': {'id': 11514, 'name': 'Giovanni ..."
2,1,"[39.2, 68.4]",Giovanni Di Lorenzo,"{'recipient': {'id': 7173, 'name': 'Leonardo B..."
3,1,"[25.3, 46.4]",Leonardo Bonucci,"{'recipient': {'id': 6954, 'name': 'Giorgio Ch..."
4,1,"[23.9, 18.6]",Giorgio Chiellini,"{'recipient': {'id': 7173, 'name': 'Leonardo B..."
...,...,...,...,...
1345,4,"[6.0, 44.0]",Jordan Pickford,"{'recipient': {'id': 10955, 'name': 'Harry Kan..."
1346,4,"[81.2, 52.6]",Harry Kane,"{'length': 27.294687, 'angle': 0.7802169, 'hei..."
1347,4,"[19.5, 8.3]",Alessandro Florenzi,"{'recipient': {'id': 6993, 'name': 'Bryan Cris..."
1348,4,"[96.9, 80.0]",Jack Grealish,"{'recipient': {'id': 22084, 'name': 'Bukayo Sa..."
1349,4,"[85.2, 59.5]",Bukayo Saka,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi..."

In [16]:
pass_start = pd.DataFrame(all_passes['location'].to_list(),columns=['x_start','y_start'])
all_passes.join(pass_start)

,period,location,player,pass,x_start,y_start
0,1,"[60.0, 40.0]",Ciro Immobile,"{'recipient': {'id': 3166, 'name': 'Marco Verr...",60.0,40.0
1,1,"[48.0, 35.7]",Marco Verratti,"{'recipient': {'id': 11514, 'name': 'Giovanni ...",48.0,35.7
2,1,"[39.2, 68.4]",Giovanni Di Lorenzo,"{'recipient': {'id': 7173, 'name': 'Leonardo B...",39.2,68.4
3,1,"[25.3, 46.4]",Leonardo Bonucci,"{'recipient': {'id': 6954, 'name': 'Giorgio Ch...",25.3,46.4
4,1,"[23.9, 18.6]",Giorgio Chiellini,"{'recipient': {'id': 7173, 'name': 'Leonardo B...",23.9,18.6
...,...,...,...,...,...,...
1345,4,"[6.0, 44.0]",Jordan Pickford,"{'recipient': {'id': 10955, 'name': 'Harry Kan...",6.0,44.0
1346,4,"[81.2, 52.6]",Harry Kane,"{'length': 27.294687, 'angle': 0.7802169, 'hei...",81.2,52.6
1347,4,"[19.5, 8.3]",Alessandro Florenzi,"{'recipient': {'id': 6993, 'name': 'Bryan Cris...",19.5,8.3
1348,4,"[96.9, 80.0]",Jack Grealish,"{'recipient': {'id': 22084, 'name': 'Bukayo Sa...",96.9,80.0
1349,4,"[85.2, 59.5]",Bukayo Saka,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",85.2,59.5

In [20]:
pass_info = all_passes['pass'].apply(pd.Series)
pass_info
recipient_name = pass_info['recipient'].apply(pd.Series)
recipient_name.rename(columns={'name':'recipient_name'},inplace=True)
pass_end = pd.DataFrame(pass_info['end_location'].to_list(),columns=['x_end','y_end'])

df = pd.concat([all_passes,pass_start,pass_end, recipient_name,pass_info],axis=1)

In [22]:
df.keys()

Index([          'period',         'location',           'player',
                   'pass',          'x_start',          'y_start',
                  'x_end',            'y_end',               'id',
         'recipient_name',                  0,        'recipient',
                 'length',            'angle',           'height',
           'end_location',             'type',        'body_part',
                'outcome',       'aerial_won',        'deflected',
            'outswinging',        'technique',           'switch',
                  'cross', 'assisted_shot_id',      'goal_assist',
           'through_ball',       'inswinging',      'shot_assist',
               'no_touch', 'miscommunication',         'cut_back'],
      dtype='object')

In [23]:
slim_df = df[['player','x_start','y_start','x_end','y_end']]
slim_df.head()

                player  x_start  y_start  x_end  y_end
0        Ciro Immobile     60.0     40.0   49.5   33.2
1       Marco Verratti     48.0     35.7   39.0   70.7
2  Giovanni Di Lorenzo     39.2     68.4   24.9   46.7
3     Leonardo Bonucci     25.3     46.4   24.4   17.7
4    Giorgio Chiellini     23.9     18.6   16.4   44.1