In [13]:
#Here we will import the two libraries needed. Statsbomb to access the open data and pandas for data analysis.
from statsbombpy import sb
import pandas as pd

euro = sb.matches(competition_id = 55, season_id=43)

credentials were not supplied. open data access only

In [14]:
filt = (euro['home_team'] == 'Italy') | (euro['away_team'] == 'Italy')

ITAgames = euro[filt]

final_match_id = euro.at[4, 'match_id']

final_events = sb.events(match_id=final_match_id, split=True, flatten_attrs=False)

credentials were not supplied. open data access only

In [15]:
final_events['passes']

final_events['passes'].keys()

all_passes = final_events['passes'][['period','location','player','pass']].copy()
all_passes

,period,location,player,pass
0,1,"[60.0, 40.0]",Ciro Immobile,"{'recipient': {'id': 3166, 'name': 'Marco Verr..."
1,1,"[48.0, 35.7]",Marco Verratti,"{'recipient': {'id': 11514, 'name': 'Giovanni ..."
2,1,"[39.2, 68.4]",Giovanni Di Lorenzo,"{'recipient': {'id': 7173, 'name': 'Leonardo B..."
3,1,"[25.3, 46.4]",Leonardo Bonucci,"{'recipient': {'id': 6954, 'name': 'Giorgio Ch..."
4,1,"[23.9, 18.6]",Giorgio Chiellini,"{'recipient': {'id': 7173, 'name': 'Leonardo B..."
...,...,...,...,...
1345,4,"[6.0, 44.0]",Jordan Pickford,"{'recipient': {'id': 10955, 'name': 'Harry Kan..."
1346,4,"[81.2, 52.6]",Harry Kane,"{'length': 27.294687, 'angle': 0.7802169, 'hei..."
1347,4,"[19.5, 8.3]",Alessandro Florenzi,"{'recipient': {'id': 6993, 'name': 'Bryan Cris..."
1348,4,"[96.9, 80.0]",Jack Grealish,"{'recipient': {'id': 22084, 'name': 'Bukayo Sa..."
1349,4,"[85.2, 59.5]",Bukayo Saka,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi..."

In [16]:
pass_start = pd.DataFrame(all_passes['location'].to_list(),columns=['x_start','y_start'])
all_passes.join(pass_start)

,period,location,player,pass,x_start,y_start
0,1,"[60.0, 40.0]",Ciro Immobile,"{'recipient': {'id': 3166, 'name': 'Marco Verr...",60.0,40.0
1,1,"[48.0, 35.7]",Marco Verratti,"{'recipient': {'id': 11514, 'name': 'Giovanni ...",48.0,35.7
2,1,"[39.2, 68.4]",Giovanni Di Lorenzo,"{'recipient': {'id': 7173, 'name': 'Leonardo B...",39.2,68.4
3,1,"[25.3, 46.4]",Leonardo Bonucci,"{'recipient': {'id': 6954, 'name': 'Giorgio Ch...",25.3,46.4
4,1,"[23.9, 18.6]",Giorgio Chiellini,"{'recipient': {'id': 7173, 'name': 'Leonardo B...",23.9,18.6
...,...,...,...,...,...,...
1345,4,"[6.0, 44.0]",Jordan Pickford,"{'recipient': {'id': 10955, 'name': 'Harry Kan...",6.0,44.0
1346,4,"[81.2, 52.6]",Harry Kane,"{'length': 27.294687, 'angle': 0.7802169, 'hei...",81.2,52.6
1347,4,"[19.5, 8.3]",Alessandro Florenzi,"{'recipient': {'id': 6993, 'name': 'Bryan Cris...",19.5,8.3
1348,4,"[96.9, 80.0]",Jack Grealish,"{'recipient': {'id': 22084, 'name': 'Bukayo Sa...",96.9,80.0
1349,4,"[85.2, 59.5]",Bukayo Saka,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",85.2,59.5

In [20]:
pass_info = all_passes['pass'].apply(pd.Series)
pass_info
recipient_name = pass_info['recipient'].apply(pd.Series)
recipient_name.rename(columns={'name':'recipient_name'},inplace=True)
pass_end = pd.DataFrame(pass_info['end_location'].to_list(),columns=['x_end','y_end'])

df = pd.concat([all_passes,pass_start,pass_end, recipient_name,pass_info],axis=1)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1345   NaN
1346   NaN
1347   NaN
1348   NaN
1349   NaN
Name: 0, Length: 1350, dtype: float64

In [26]:
slim_df = df[['player','x_start','y_start','x_end','y_end']]
slim_df.head()

                player  x_start  y_start  x_end  y_end
0        Ciro Immobile     60.0     40.0   49.5   33.2
1       Marco Verratti     48.0     35.7   39.0   70.7
2  Giovanni Di Lorenzo     39.2     68.4   24.9   46.7
3     Leonardo Bonucci     25.3     46.4   24.4   17.7
4    Giorgio Chiellini     23.9     18.6   16.4   44.1

In [41]:
ita_lineup = sb.lineups(final_match_id)['Italy']
eng_lineup = sb.lineups(final_match_id)['England']

credentials were not supplied. open data access only
credentials were not supplied. open data access only

In [42]:
ita_squad = ita_lineup['player_name'].to_list()
eng_squad = eng_lineup['player_name'].to_list()

In [51]:
# Solved the problem of filtering df by English/Italian team via 
# https://stackoverflow.com/questions/41518920/python-pandas-how-to-query-if-a-list-type-column-contains-something
# slightly changed it with a reverse because I wanted my cell value to be in (or to be contained by) a different list
ita_mask = df.player.apply(lambda x: x in ita_squad)
eng_mask = df.player.apply(lambda x: x in eng_squad)
ita_df = df[ita_mask]
eng_df = df[eng_mask]

In [53]:
eng_df[eng_df['player']=='John Stones']

,period,location,player,pass,x_start,y_start,x_end,y_end,id,recipient_name,...,switch,cross,assisted_shot_id,goal_assist,through_ball,inswinging,shot_assist,no_touch,miscommunication,cut_back
7,1,"[60.7, 67.7]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",60.7,67.7,68.2,67.4,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,1,"[41.2, 42.9]",John Stones,"{'recipient': {'id': 3468, 'name': 'Jordan Pic...",41.2,42.9,14.2,39.5,3468.0,Jordan Pickford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,1,"[25.0, 50.9]",John Stones,"{'recipient': {'id': 3233, 'name': 'Raheem Ste...",25.0,50.9,52.2,58.2,3233.0,Raheem Sterling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,1,"[36.6, 29.7]",John Stones,"{'recipient': {'id': 3233, 'name': 'Raheem Ste...",36.6,29.7,55.5,46.2,3233.0,Raheem Sterling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,1,"[41.8, 51.3]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",41.8,51.3,49.9,67.9,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,1,"[9.7, 34.9]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",9.7,34.9,6.3,25.4,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,1,"[28.5, 50.4]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",28.5,50.4,32.1,28.7,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,1,"[82.2, 73.6]",John Stones,"{'recipient': {'id': 3308, 'name': 'Kieran Tri...",82.2,73.6,81.7,77.2,3308.0,Kieran Trippier,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,1,"[69.7, 37.9]",John Stones,"{'recipient': {'id': 10955, 'name': 'Harry Kan...",69.7,37.9,83.2,30.6,10955.0,Harry Kane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,1,"[66.2, 37.8]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",66.2,37.8,66.7,19.4,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,1,"[16.2, 51.7]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",16.2,51.7,24.5,25.8,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,1,"[49.0, 53.7]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",49.0,53.7,35.3,42.2,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,1,"[43.1, 54.0]",John Stones,"{'recipient': {'id': 10955, 'name': 'Harry Kan...",43.1,54.0,57.7,62.5,10955.0,Harry Kane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,1,"[49.5, 57.3]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",49.5,57.3,51.1,62.5,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,2,"[41.9, 37.5]",John Stones,"{'recipient': {'id': 10955, 'name': 'Harry Kan...",41.9,37.5,93.1,9.2,10955.0,Harry Kane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,2,"[65.9, 17.9]",John Stones,"{'recipient': {'id': 3382, 'name': 'Luke Shaw'...",65.9,17.9,70.8,0.1,3382.0,Luke Shaw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
606,2,"[13.4, 50.9]",John Stones,"{'recipient': {'id': 3233, 'name': 'Raheem Ste...",13.4,50.9,48.3,61.5,3233.0,Raheem Sterling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,2,"[9.7, 18.9]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",9.7,18.9,1.4,7.7,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,2,"[21.7, 52.6]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",21.7,52.6,49.2,64.4,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708,2,"[29.2, 53.2]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",29.2,53.2,38.6,47.8,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,2,"[48.0, 25.5]",John Stones,"{'recipient': {'id': 10955, 'name': 'Harry Kan...",48.0,25.5,70.7,7.7,10955.0,Harry Kane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,2,"[44.6, 54.9]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",44.6,54.9,32.2,58.1,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,2,"[31.8, 50.9]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",31.8,50.9,32.8,21.5,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
821,2,"[10.6, 52.9]",John Stones,"{'recipient': {'id': 3233, 'name': 'Raheem Ste...",10.6,52.9,58.6,22.1,3233.0,Raheem Sterling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,2,"[18.6, 54.4]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",18.6,54.4,29.2,49.2,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833,2,"[23.7, 66.7]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",23.7,66.7,28.6,77.3,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
902,2,"[44.9, 47.3]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",44.9,47.3,46.9,27.2,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,2,"[49.2, 53.8]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",49.2,53.8,68.6,73.8,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,2,"[61.5, 50.9]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",61.5,50.9,78.0,77.3,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
909,2,"[65.8, 37.5]",John Stones,"{'recipient': {'id': 3382, 'name': 'Luke Shaw'...",65.8,37.5,77.2,5.5,3382.0,Luke Shaw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,2,"[74.6, 40.1]",John Stones,"{'recipient': {'id': 3382, 'name': 'Luke Shaw'...",74.6,40.1,80.3,16.1,3382.0,Luke Shaw,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,2,"[63.8, 45.3]",John Stones,"{'recipient': {'id': 3532, 'name': 'Jordan Bri...",63.8,45.3,73.4,60.4,3532.0,Jordan Brian Henderson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,2,"[29.8, 51.8]",John Stones,"{'recipient': {'id': 3468, 'name': 'Jordan Pic...",29.8,51.8,19.1,37.2,3468.0,Jordan Pickford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,2,"[24.6, 56.4]",John Stones,"{'recipient': {'id': 22084, 'name': 'Bukayo Sa...",24.6,56.4,63.2,75.0,22084.0,Bukayo Saka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,2,"[36.3, 48.6]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",36.3,48.6,39.7,27.7,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,2,"[18.3, 67.0]",John Stones,"{'recipient': {'id': 3468, 'name': 'Jordan Pic...",18.3,67.0,8.0,44.4,3468.0,Jordan Pickford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,3,"[41.4, 37.9]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",41.4,37.9,47.3,24.8,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1051,3,"[36.6, 43.0]",John Stones,"{'length': 5.3488317, 'angle': 0.36314702, 'he...",36.6,43.0,41.6,44.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,3,"[20.5, 54.4]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",20.5,54.4,28.5,75.5,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077,3,"[22.7, 56.5]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",22.7,56.5,21.7,31.7,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1103,3,"[22.7, 55.0]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",22.7,55.0,36.9,55.0,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1105,3,"[24.0, 59.0]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",24.0,59.0,35.7,48.7,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1141,3,"[55.2, 16.8]",John Stones,"{'recipient': {'id': 3468, 'name': 'Jordan Pic...",55.2,16.8,26.2,44.9,3468.0,Jordan Pickford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,3,"[30.4, 55.0]",John Stones,"{'recipient': {'id': 3468, 'name': 'Jordan Pic...",30.4,55.0,15.5,34.1,3468.0,Jordan Pickford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153,3,"[53.5, 44.9]",John Stones,"{'recipient': {'id': 3336, 'name': 'Harry Magu...",53.5,44.9,55.9,27.5,3336.0,Harry Maguire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1232,4,"[55.1, 52.1]",John Stones,"{'recipient': {'id': 3532, 'name': 'Jordan Bri...",55.1,52.1,79.5,75.0,3532.0,Jordan Brian Henderson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,4,"[72.7, 50.3]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",72.7,50.3,93.3,74.4,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,4,"[66.9, 66.1]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",66.9,66.1,72.4,60.7,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1250,4,"[67.2, 46.1]",John Stones,"{'recipient': {'id': 3532, 'name': 'Jordan Bri...",67.2,46.1,78.0,53.2,3532.0,Jordan Brian Henderson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1256,4,"[64.3, 52.6]",John Stones,"{'recipient': {'id': 3233, 'name': 'Raheem Ste...",64.3,52.6,89.8,71.8,3233.0,Raheem Sterling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1264,4,"[33.4, 44.7]",John Stones,"{'recipient': {'id': 4706, 'name': 'Kalvin Phi...",33.4,44.7,41.2,32.9,4706.0,Kalvin Phillips,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1270,4,"[42.6, 52.4]",John Stones,"{'recipient': {'id': 3205, 'name': 'Kyle Walke...",42.6,52.4,48.9,73.5,3205.0,Kyle Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN